// MAPAS
// Estos mapas los voy a estar aplicando en los distintos headers (según su jerarquía) que aparecen en la página "acerca de"
$headings: (
  // Línea 29
  h1: 2rem,
  // Línea 55
  h2: 1.75em,
  // Línea 103
  h3: 1.5em,
  // Linea 122
  h4: 1.25em,
  // Línea 38
  h5: 1em
);
$h1: map-get($headings, h1);
$h2: map-get($headings, h2);
$h3: map-get($headings, h3);
$h4: map-get($headings, h4);
$h5: map-get($headings, h5);
// --------------------------------------------------------------------------------------------
// ACERCA DE
// Main
// Jumbotron
.carousel-indicators [data-bs-target] {
  height: 10px;
  background-color: $color1;
}
.jumbotron2 {
  background: url("../media/bg-image2.webp") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  & h1 {
    text-align: center;
    @include sombras(6px 5px 7px $bg-color1);
    font-size: $h1;
  }
}
// Carousel
.carousel-item {
  & img {
    opacity: 0.8;
  }
  & h5 {
    color: $color1;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $h5;
  }
  & p {
    color: $color1;
  }
}
// Habilidades
#skills {
  background-color: $bg-color4;
  & h2 {
    @include sombras(6px 5px 7px $bg-color1);
    font-size: $h2;
  }
  & .card {
    padding: 1rem;
    margin: 1rem auto;
    background-color: $bg-color2;
    & img {
      height: 250px;
    }
    & h5 {
      color: $color3;
      font-weight: 600;
      text-align: center;
    }
    & p {
      color: $color3;
      text-align: center;
      line-height: 2rem;
    }
    & .link {
      text-align: center;
    }
    & .enlace {
      border: 1px solid $color3;
      color: $color3;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }
    & .enlace:hover {
      background-color: rgb(57, 225, 216);
      border: none;
    }
    & .btn {
      background-color: $bg-color1;
    }
  }
}
// Certificaciones
#certificates {
  background-color: $bg-color3;
  height: auto;
  width: $width;
  & .heading {
    background-color: $bg-color2;
    color: $color3;
    height: 5rem;
    & h3 {
      font-size: $h3;
      padding: 1rem;
      text-shadow: 4px 4px 2px rgba(32, 178, 170, 1);
    }
  }
  & .list-group-item {
    background-color: $bg-color3;
    & a {
      text-decoration: none;
      color: $color2;
      text-align: center;
    }
    & a:hover {
      color: $bg-color1;
    }
  }
}
// Redes sociales
.social {
  & .container {
    & h4 {
      text-align: center;
      color: $color3;
      background-color: $bg-color1;
      padding: 1rem;
      margin: 1.5rem;
      font-size: $h4;
    }
  }
  & .redes {
    & a {
      display: table;
      margin-left: auto;
      margin-right: auto;
    }
    & li {
      height: 200px;
      width: 200px;
      background-size: cover;
      background-position: center;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      margin: 1rem;
      list-style-type: none;
      box-shadow: 12px 12px 2px 1px $color4;
    }
    & li:hover {
      opacity: 0.5;
    }
  }
}
@import "_each";
