// MAPAS
// Estos mapas los voy a estar aplicando en los distintos headers (según su jerarquía) que aparecen en la página "acerca de"
$headings: (
  // Línea 28
  h1: 2rem,
  // Líneas 73,129,160
  h2: 1.75em,
  // Línea 48
  h5: 1em
);
$h1: map-get($headings, h1);
$h2: map-get($headings, h2);
$h5: map-get($headings, h5);
// --------------------------------------------------------------------------------------------
// ACERCA DE
// Main
#acercaDe {
  overflow-x: hidden;
}
// Jumbotron
.jumbotron2 {
  height: 15rem;
  & .cont0 {
    background-color: $bg-color1;
    box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
    -webkit-box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
    -moz-box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
    & h2 {
      text-align: center;
      @include sombras(6px 5px 7px $bg-color1);
      font-size: $h2;
      color: $color3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    & .fa-leanpub {
      margin-left: 0.5rem;
    }
  }
}
// Carousel
#carrousel {
  .carousel-inner {
    height: 35rem;
    .carousel-item {
      height: 100%;
      position: relative;
      & img {
        opacity: 0.8;
        position: absolute;
        height: 100%;
        object-fit: cover;
      }
      & h5 {
        color: $color1;
        font-weight: 600;
        text-transform: uppercase;
        font-size: $h5;
      }
      & p {
        color: $color1;
      }
    }
  }
  .carousel-indicators [data-bs-target] {
    height: 10px;
    background-color: $color1;
  }
}

// Habilidades
#skills {
  & .cont2 {
    background-color: $bg-color1;
    box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
    -webkit-box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
    -moz-box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    & h2 {
      @include sombras(6px 5px 7px $bg-color1);
      font-size: $h2;
      color: $color3;
    }
    & .fa-magnifying-glass {
      margin-left: 0.5rem;
    }
  }
  & .card {
    padding: 1rem;
    margin: 1rem auto;
    background-color: $bg-color2;
    & img {
      height: 250px;
    }
    & h5 {
      color: $color3;
      font-weight: 600;
      text-align: center;
    }
    & p {
      color: $color3;
      text-align: center;
      line-height: 2rem;
    }
    & .link {
      text-align: center;
    }
    & .enlace {
      border: 1px solid $color3;
      color: $color3;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }
    & .enlace:hover {
      background-color: rgb(57, 225, 216);
      border: none;
    }
    & .btn {
      background-color: $bg-color1;
    }
  }
}
// Certificaciones
#certificates {
  background-color: $bg-color3;
  height: auto;
  width: $width;
  & .heading {
    color: $color3;
    height: 5rem;
    & .cont3 {
      background-color: $bg-color1;
      box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
      -webkit-box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
      -moz-box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
      & h2 {
        font-size: $h2;
        padding: 1rem;
        margin: 1.5rem;
      }
      & .fa-certificate {
        margin-left: 0.5rem;
      }
    }
  }
  & .list-group-item {
    background-color: $bg-color3;
    & a {
      text-decoration: none;
      color: $color2;
      text-align: center;
    }
    & a:hover {
      color: $bg-color1;
    }
  }
}
// Redes sociales
.social {
  & .media {
    box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
    -webkit-box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
    -moz-box-shadow: 10px 18px 5px 0px rgba(0, 0, 255, 0.19);
    background-color: $bg-color1;
    & h2 {
      text-align: center;
      color: $color3;
      background-color: $bg-color1;
      padding: 1rem;
      margin: 1.5rem;
      font-size: $h2;
      text-transform: uppercase;
    }
    & .fa-thumbs-up {
      margin-left: 0.5rem;
    }
  }
  & .redes {
    & a {
      display: table;
      margin-left: auto;
      margin-right: auto;
    }
    & li {
      height: 200px;
      width: 200px;
      background-size: cover;
      background-position: center;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      margin: 1rem;
      list-style-type: none;
      box-shadow: 12px 12px 2px 1px $color4;
    }
    & li:hover {
      opacity: 0.5;
    }
  }
}
@import "_each";
