// FUENTE
@import url("https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap");
// CONTACTO
// MAIN
// Formulario de contacto
#contacto-main {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: $width;
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h2 {
    @include sombras(4px 4px 0px rgba(0, 0, 255, 0.2));
    text-transform: uppercase;
    font-family: "Tai Heritage Pro", serif;
  }
  & h1 {
    cursor: pointer;
    background-color: $bg-color3;
    border: 1px solid $color4;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    max-width: 2560px;
    box-shadow: 12px 12px 2px 1px $color4;
    padding: 20px;
    font-weight: $font-w;
    line-height: 2rem;
  }
}
.form {
  background-color: $bg-color1;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: 1px solid $color4;
  box-shadow: 12px 12px 2px 1px $color4;
  & .row {
    display: flex;
    justify-content: space-evenly;
    & input:hover,
    textarea:hover,
    .form-select:hover {
      border: solid 2px $color1;
    }
    & .form-control,
    .form-select {
      outline: #ebebeb solid 2px;
    }
    & .form-control:focus {
      border-color: $color4;
    }
    & .form-label {
      font-weight: $font-w;
    }
    & #comments {
      resize: none;
    }
    & .form-select:hover {
      cursor: pointer;
    }
    & .form-check-input {
      cursor: pointer;
    }
    & .form-check-input:hover {
      border: none;
    }
    & .cont {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
    & .btn-grad {
      background-image: linear-gradient(
        to right,
        #1a2980 0%,
        #26d0ce 51%,
        #1a2980 100%
      );
      margin: 10px;
      padding: 15px 45px;
      text-transform: uppercase;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      background-size: 200% auto;
      color: $color3;
      box-shadow: 0 0 20px $bg-color3;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: block;
    }
    & .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
      color: $color3;
      text-decoration: none;
    }
  }
}
.modal-backdrop {
  z-index: -1;
}
