// VARIABLES
// Font-family
$font-f: "Roboto", sans-serif;
// Paleta de colores
$bg-color1: rgb(32, 178, 170);
$bg-color2: #212121;
$bg-color3: #fafafa;
$bg-color4: #7d8389;
$color1: #000;
$color2: #333;
$color3: #fff;
$color4: #0000ff33;
$color5: gold;
// Font-weight
$font-w: bold;
// Ancho y alto
$width: 100%;
$heigth: 100%;
$width2: 100px;
$height2: 100px;
// Text-align
$text-align: center;
